/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 6, 2023, 4:12:07 PM
    Author     : oki
*/

*{
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #1abc9c;
}
form{
    text-align: center;
    margin:50px 450px;
    background-color: #fff;
    padding: 25px 0 50px 0;
}
h1{
    background-color: #fff;
    margin: 0 0 15px 0;
}
input[type="submit"]{
    margin-top:20px;
    background-color:  #16a085;
    border:none;
    width: 334px;
    border-radius: 5px;
    color: #fff;
}
.error{
   
    background-color: white!important;
    font-size: 20px;
    color: red;
}
input[type="submit"]:hover,.signin:hover,.signin:hover a{
    background-color: #12876f;
}
label{
    background-color: #fff;

}
input{
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
    background-color: #fff;
    padding: 10px;
    font-size: 25px;
    margin-bottom:10px;
    text-align: center;
}
.icon {
    padding: 10px;
    min-width: 40px;
}
i {
    position: absolute;
    font-size: 25px;
    background: white;
}
.signin{
    width: 334px;
    margin: 0 auto;
    border-radius:5px;
    padding: 10px;
    background-color:  #16a085;
    transition: all .5s;
}
.signin a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px;
    transition: all .5s;
    background-color:  #16a085;
}