/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 6, 2023, 4:12:07 PM
    Author     : oki

*{
    font-family: sans-serif;
}
input{
    border: none;
    border-bottom: 1px solid black;
    outline: 0;

}
*/

